<div class="row">
  {{#if (not_eq logged_user_id created_by)}}
    <div class="mt-5 mb-5">
            <a href="/api/posts/{{id}}/comment" class="border-2 border-zinc-950 bg-neutral-700 text-white py-1 px-5 w-52 rounded-md hover:bg-transparent hover:text-slate-700 font-semibold">Add a Comment</a>
    </div> 
  {{/if}}
<div class="border-2 border-teal-950 pl-3 bg-teal-700 text-lg text-white py-2 w-auto font-semibold rounded-t-md">
        {{title}}
      </div>
      <hr>
      <div class="w-auto p-6 shadow-lg bg-gray-400 rounded-b-md mb-5">
        <div class="mb-4">
          <p>
            {{description}}
          </p>
        </div>
        <div class="bg-teal-200 pl-1">
          <p>Created by {{user.name}}</p>
          <p>Created on {{format_date createdAt}}</p>
        </div>
    </div>
    <div class="border-2 border-zinc-950 bg-neutral-700 text-white pl-1 py-1.5 mb-3 rounded-md">
      <p>Comments to this post:</p></div>
        {{#each comments as |comment|}}
    <div class="w-auto p-6 shadow-lg bg-gray-400 rounded-b-md mb-5">
        
          <div><i>{{comment.description}}</i></div>
          <p>Created by {{comment.user.name}}</p>
          <p>Created on {{format_date comment.createdAt}}</p>
      </div>
      {{/each}}
</div>